@{
    ViewBag.Title = "EmployeeReviewer - #1 evaluation software";
}

<div class="jumbotron">
    <h1>EmployeeReviewer</h1>
    <p class="lead">EmployeeReviewer creates an easy-to-use web application to leave reviews for your employees and store it for historical purposes.</p>
</div>

<div class="row justify-content-center text-center">
    <div class="col-4">
        <h2>See All Reviews</h2>
        <p>
            View all the current reviews. You can also create, delete, and update existing reviews.
        </p>
        <p>
            @Html.ActionLink("All Reviews", "Index", "Reviews", null, new { @class = "btn btn-primary" })

            @*<a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>*@
        </p>
    </div>

    <div class="col-4">
        <h2>Create A Review</h2>
        <p>
            Jump right in and create a brand new review that will then get saved to the database using Entity Framework.
        </p>
        <p>
            @Html.ActionLink("Create a Review", "Create", "Reviews", null, new { @class = "btn btn-primary" })

        @*<a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>*@
    </p>
    </div>


</div>